<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
  <b>Welcome to GAVS</b>
  <nav>
    <a routerLink="/home">
      <img src="https://th.bing.com/th/id/OIP.M-q0fZs2KduDBlKUJ3HMcwHaHa?w=186&h=186&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="40px" />
    </a>
    <a routerLink="/aboutus">
      <img src="https://th.bing.com/th/id/OIP.QCKvcAHEzLangzC9MULBjwHaHa?pid=ImgDet&rs=1" width="40px" />
    </a>
    <a routerLink="/contactus">
      <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/phone-circle-blue-512.png" width="40px" />
    </a>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>
