<!-- 
Any template driven forms must use MgForm attribute(directive)
The Corresponding model is automatically created by Angular.
UserData become the object that acts a model userData is automatic created by angular.
It will have fields like firstName, lastName, joinDate and salary.
<form #userData="NgForm" var userData = new NgForm()>
-->
<b>Enter User's Data</b><br>
<form #userData="ngForm" (ngSubmit) = 'addUser(userData)'>
  First Name <input type="text" name="firstName" ngModel /><br>
  last Name <input type="text" name="lastName" ngModel /><br>
  Join Date <input type="date" name="joinDate" ngModel /><br>
  Salary <input type="number" name="salary" ngModel /><br>
  <input type="submit" value="Add user" />
</form>

<router-outlet></router-outlet>
