<!--<p>home works!</p>

<b>Enter User's Data</b><br>

<form #userData="ngForm" (ngSubmit)="addUser(userData)">
  User Id <input type="text" name="uid" ngModel /><br>
  Password <input type="text" name="password" ngModel /><br>
  Email Id <input type="email" name="emailid" ngModel /><br>
  <input type="Submit" value="Add User" />&nbsp;&nbsp;
  <input type="Button" value="Get User" (click)="getAllUsers()"/>&nbsp;&nbsp;
</form>
<br><label>{{this.expresponse}}</label><br><br>

<h2>User Data</h2>

<table border="1">
  <tr>
    <th>User Id</th>
    <th>Password</th>
    <th>Email Id</th>
  
  </tr>
  <tr *ngFor="let user of userList">
    <td>{{ user.userid }}</td>
    <td>{{ user.password }}</td>
    <td>{{ user.emailid }}</td>
  </tr>
</table>-->
