<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="contact-us.component.css">
</head>
<body>
  <b>Enter Contact details</b>
  <form #userData="ngForm" (ngSubmit)="addUser(userData)">
    Name <input type="text" name="name" ngModel /><br>
    Mobile No <input type="number" name="mobile" ngModel /><br>
    EmailId <input type="email" name="emailid" ngModel /><br>
    <input type="submit" value="Add user" />
    <input type="button" value="Get user" (click)="getAllUsers()" />
  </form>
  <br><label>{{this.expresponse}}</label><br><br>
  <h2>User Data</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Mobile No</th>
      <th>EmailId</th>
    </tr>
    <tr *ngFor="let user of userList">
      <td>{{ user.name }}</td>
      <td>{{ user.mobile }}</td>
      <td>{{ user.emailid }}</td>
      <td></td>
    </tr>
  </table>
  <div>
    Gavs,<br>
    Shollinganallur,<br>
    Chennai,<br>
    INDIA
  </div>
  <p>contact-us works!</p>
</body>
</html>
